@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import "tailwindcss";


@theme{
    --font-main:   "Patrick Hand", serif;

    --color-black:
}

html {
  scroll-behavior: smooth;
}

.button{
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    border: 2.5px solid black;
    z-index: 10;
    overflow: hidden;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    transition: color .5s;
  
  }
  
  .button:hover{
    color: white;
    transition: color .5s;
  }
 
  
  .button::before{
    content: '';
    width: 150%;
    height: 100%;
    position: absolute;
    background-color: black;
    top: 0;
    left: -10px;
    clip-path: circle(0.4% at 0 50%);
    border-radius: 20px;
    transition: clip-path .5s;
    z-index: -10;
  }
  
  
  .button:hover::before{
    clip-path: circle(111.7% at 0 50%);
    transition: clip-path .5s;
    z-index: -10;
  
  }
  

  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  